<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Ewert' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>
</head>
<body>

    <div id="welcome">
        <div class="container">
            <form class="well form-inline">
                <legend>Welcome</legend>
                <input type="text" class="input-large" placeholder="Name">
                <input type="text" class="input-large" placeholder="Room">
                <a class="btn show-loading" data-toggle="modal" href="#loading" id="create">Create</a>
                <a class="btn show-loading" data-toggle="modal" href="#loading" id="join">Join</a>
            </form>
        </div>
    </div>

    <div class="modal fade" id="loading">
        <div class="modal-body">
            <p class="loader">Loading...</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger float-left" data-dismiss="modal">Close</a>
            <a href="#" class="btn" id="ready" data-dismiss="modal">I'm ready</a>
        </div>
    </div>

    <div id="game">
        <div class="top">
            <div class="header">
            </div>
            <div class="container">
                <div class="game row">
                    <div class="span5">
                        <h2 id="player1-name"></h2>
                        <video id="player1" class="mask player-stream" autoplay></video>
                    </div>
                    <div class="span2">
                        <span id="go-btn" class="btn">Go</span>
                        <ul class="one-two-three">
                            <li id="one" class="step">1</li>
                            <li id="two" class="step">2</li>
                            <li id="three" class="step">3</li>
                            <li id="go" class="step">Pic!</li>
                        </ul>
                    </div>
                    <div class="span5">
                        <h2 id="player2-name"></h2>
                        <video id="player2" class="mask player-stream" autoplay></video>
                    </div>
                </div>
                <div class="row" id="action"></div>
            </div>
        </div>
        <div class="previous-games">
            <div class="container" id="results">
            </div>
        </div>
    </div>
</div>

<canvas id="photo" style="display:none"></canvas>

    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script id="archive-item" type="text/x-underscore-template">
        <div class="row">
            <div class="span5">
                <div class="player-results clearfix">
                    <div class="pin"></div>
                    <div class="player player1">
                        <img src="<%= player1 %>" />
                    </div>
                    <div class="player">
                        <img src="<%= player1 %>" />
                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="winner"><%= winner %></div>
            </div>
            <div class="span5">
                <div class="player-results clearfix">
                    <div class="pin"></div>
                    <div class="player player1">
                        <img src="<%= player3 %>" />
                    </div>
                    <div class="player">
                        <img src="<%= player4 %>" />
                    </div>
                </div>
            </div>
        </div>
    </script>
</body>
</html>